/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    /* font-weight: 100; */
    /* font-style: normal; */
    box-sizing: border-box;
}
body {
    /* display: grid;
    height: 100%;
    place-items: center; */
    overflow: hidden;
    background: #a1c7e0;
}
.container {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}
.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
}
.wrapper .title {
    line-height: 90px;
    background: #2980b9;
    border-radius: 5px 5px 0 0;
    /* padding-left: 20px; */
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.wrapper form {
    padding: 30px 25px 25px 25px;
}
.wrapper form .row {
    height: 45px;
    /* background: #ff0000; */
    margin-bottom: 15px;
    position: relative;
}
.wrapper form .row input {
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}
form .row input:focus {
    border-color: #2980b9;
    box-shadow: inset 0px 0px 2px 2px rgba(36,156,188,0.25)
}
.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    background: #2980b9;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    color: #fff;
    border-radius: 5px 0 0 5px;
    border: 1px solid #2980b9;
}
.wrapper form .pass {
    margin: -8px 0 20px 0;
}
.wrapper form .pass a {
    color: #2980b9;
    font-size: 16px;
    text-decoration: none;
}
.wrapper form .pass a:hover {
    text-decoration: underline;
}
.wrapper form .button input {
    color: #fff;
    background: #2980b9;
    font-weight: 500;
    font-size: 20px;
    /* text-align: center; */
    padding-left: 0px;
    cursor: pointer;
}
.wrapper form .signup-link {
    /* margin: 8px 0 20px 0; */
    margin-top: 8px;
    font-size: 17px;
    text-align: center;
}
.wrapper form .signup-link a {
    color: #2980b9;
    text-decoration: none;
}
form .signup-link a:hover{
    text-decoration: underline;
}
form .button input:hover {
    background:  #295bb9;

}